@tailwind base;
@tailwind components;
@tailwind utilities;


.content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(143, 140, 140);
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 45px;
    font-weight: 20;
 }

 .content1 {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(143, 140, 140);
    font-family: 'Courier New', monospace;
    font-size: 24px;
 }

 .content2 {
    position: absolute;
    top: 85%;
    left: 42%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(143, 140, 140);
    font-family: 'Courier New', monospace;
    font-size: 20px;
    font-weight: normal
 }

 .content3 {
    position: absolute;
    top: 85%;
    left: 58%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(143, 140, 140);
    font-family: 'Courier New', monospace;
    font-size: 20px;
    font-weight: normal
 }